*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../Assets/backgroundlogin.avif');
    background-size: cover;
    background-attachment:fixed;
    width:auto;
}

nav{
    display: flex;
    flex-direction: row;
    width: 8%;
    align-items: center;
    margin: auto; 
    margin-top: 1%;
    margin-bottom: 3%; 
}

main{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* img-Logo */
img{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 8px 10px 2px 1px rgba(58, 58, 58, 0.2);
    transition: 0.5s ease-in-out;
}

img:hover{    
    opacity: 0.9;
    filter: grayscale(0%);
    transition: 0.3s ease-in-out;
}

.tab{
    margin-bottom: 0;
}

/* Class */


/* BoxLogin */
.loginConteneur{
    margin-top: 3%;
    margin-bottom: 10%;
    opacity: 0.8;  
}

.loginhtml{
    display: grid;
    grid-template-columns: 0.75fr 0.5fr 0.25fr 0.75fr 0.75fr 0.25fr 0.5fr 0.75fr;
    grid-template-rows: 35px 450px;
    gap: 6px;
}

.loginform{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

.backgroundBlanc{
    background-color: white;
}

.loginbutton{
    border-top-left-radius: 12px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbutton:hover{
    --s: 100%;   /* the size of the image */
    --b: 2px;     /* the border thickness*/
    --g: 4px;    /* the gap */
    --c: #000000; /* the color */
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    transition: 0.2s ease-in-out;
}

.registerbutton{
    border-top-right-radius: 12px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerbutton:hover{
    --s: 100%;   /* the size of the image */
    --b: 2px;     /* the border thickness*/
    --g: 4px;    /* the gap */
    --c: #000000; /* the color */
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    transition: 0.2s ease-in-out;
}

.titre-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

label .tab,
input .register{
    cursor: pointer;
}

/* loginholder */

.loginholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registerholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.textregisterholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pwdregisterholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textholder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-bottom: 5%;
}

.divloginholder{
    margin-top:5%;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 13px 18px;
    font-size: 0.8em;
    border-radius: 10px;
    background: #3c3c3c;
    color: #fff;
}

.submitbuttonlogin input[type=submit],
.submitbuttonregister input[type=submit]{
    border: 0;
    outline: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 13px 18px;
    margin: 35% 0 0% 0;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.submitbuttonlogin input[type=submit]:hover,
.submitbuttonregister input[type=submit]:hover{
    --s: 100%;   /* the size of the image */
    --b: 2px;     /* the border thickness*/
    --g: 4px;    /* the gap */
    --c: #000000; /* the color */
    cursor: pointer;
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    transition: 0.2s ease-in-out;
}

.loginConteneur .login,
.loginConteneur .register,
.loginform .divloginholder .check .footerboxlogin{
	display:none;
}

.checkin{
    margin-top: 2%;
    margin-bottom: 2%;
}

.loginConteneur .loginbox,
.loginConteneur .registerbox{
	border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
} 

.loginbox .hrloginconteneur{
    margin-top: 5%;
    width: 75%;
	border-top: 1px solid black;
}
.registerbox .hrregisterconteneur{
    margin-top: 5%;
    width: 75%;
	border-top: 1px solid black;
}

.footerboxlogin{
    margin-top: 3%;
    text-align:center;
    margin-bottom: 3%;
}

.alreadymember,
.forgotpassword{
    cursor: pointer;
}

.footerboxregister{
    margin-top: 3%;
    text-align:center;
    margin-bottom: 3%;
}

/* Ombre */
.ombre{
    box-shadow: 8px 10px 2px 1px rgba(58, 58, 58, 0.2);
}
.text-ombre{
    text-shadow: 2px 2px 2px rgb(160, 160, 160);
}














