@font-face {
    font-family: 'acherus_grotesque_regularRg';
    src: url('polices/acherusgrotesque-regular-webfont.eot');
    src: url('polices/acherusgrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('polices/acherusgrotesque-regular-webfont.woff') format('woff'),
         url('polices/acherusgrotesque-regular-webfont.ttf') format('truetype'),
         url('polices/acherusgrotesque-regular-webfont.svg#acherus_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    background-color: #eaeded ;
    margin:0px;
    font-size:medium;
    font-family: 'acherus_grotesque_regularRg','calibri','serif';
}

.imgHeaderMount {
  background-image: url(../Assets/header-mounts.jpg);
  background-size: cover;
  background-position: top;
  height:auto;
  width:100%;
}

.imgHeaderEquipment {
  background-image: url(../Assets/header-equipement.jpg);
  background-size: cover;
  background-position: top;
  height:auto;
  width:100%;
}




/* --------------------------- header----------------------------- */


form input{
    width:10%;
    border-radius: 15px;

}

header {
    
    width: 100%;
}


/* --------------------- menu de navigation ---------------------*/ 
.logo{
    float: left;
    width: 30%;
    height: 20%;
}


#menus {
    
    background-color: rgb(255, 255, 255);
    font-size:larger;
    opacity: 0.8;  
}

#menus ul {
    
    display:flex;
    justify-content:space-around;
    align-items:center;
    list-style:none;
    color:black;
    flex-wrap:wrap;
    padding:1%;
    

}

#menus ul a {
    
    color:black;
    text-decoration: none;
}


nav{
    width:100%;
    height:50%;
    margin:auto;
    /* position:fixed; */

}

nav a {
    --b: 0.1em;   /* the thickness of the line */
    --c: #000000; /* the color*/ 

    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .2s calc(.2s - var(--_s,0s));
  }

nav a:hover {
    --_p: 100%;
    --_s: .2s;
  }

  /* login */

.login:hover {
transition: 0.5s ease-in-out;
background: #303030;
}

.login:hover svg {
stroke-dashoffset: -480;
}

.login span {
color: rgb(0, 0, 0);
font-size: 18px;
font-weight: 100;
}

.login {
width: 80px;
height: 50px;
cursor: pointer;
background:black;
border: 1px solid #000000;
transition: 0.5s ease-in-out;
float: right;
font-size:large;
color: rgb(255, 255, 255);
border-radius: 6px;
}

/*----------------------------------------Menu de filtres---------------------------------------------------------*/

.formMount {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    flex-wrap:wrap;

}

.filter {
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 2%;
    flex-wrap:wrap;

    
}

.filter2 {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items:center;
    padding: 2%;
}

 select {
    min-width: 300px;
    padding-left:20%;
    padding:1%;
    opacity: 0.8;
    margin:5%;
    padding:5%;
    flex-wrap: wrap;
    /* color:white; */
}

label {
    color:white;
    font-size: 1.5em;
    padding-top:1%;
}

input[type=submit] {
    min-width: 10em;
    height: 50px;
    cursor: pointer;
    background:black;
    border: 1px solid #000000;
    transition: 0.5s ease-in-out;
    font-size:large;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    /* padding : 2%; */
    /* margin-top:10%; */
}

.searchEquipment {
  float:center;
}

/* -----------------------------Fiche article monture---------------------------- */

/* Compteur de résultat */
.count {
  font-size: 2em;
}

.read {
  background: #303030;
  color:white;
  margin-left:1%;
  transition:0.5s ease-in-out;

  
}

.read:hover {
  transition:0.5s ease-in-out;
  background:#c37e1a;
  padding:0.5%;
}



/* bloc de résultat de la monture */
.article {
    width:80%;
    margin:auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

/* padding et margin autour du bloc */

.article div {
    
    margin-bottom:10px;
    flex-wrap: wrap;

    /* padding:1%; */

    
}

/* format de l'image */

.photoMount {
    max-width:15%;
    height:auto;
    margin-left:10px;
    flex-wrap: wrap;

}


.articleMount {
    display:flex;
    flex-direction: row;
    background-color: rgba(201, 190, 195, 0.18);
    margin-top:1%;
    align-items: center;
    flex-wrap: wrap;
    flex:1;
    
    
}
/* .articleMount, img{
    flex:3;
    
    
} */
.difficulty {
  display:flex;
  align-items: center;
  flex-wrap: wrap;

}
.picto {
  width:30px;
  padding-right: 10px;
  
} 

/* proportion du texte dans la div */

.textMount {
    flex:2;  
}

.textMount h3 {
  padding:2%;
  
}

.criteriaMount {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  /* flex-wrap: wrap; */
  
}


/* Footer */

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }