@font-face {
    font-family: 'acherus_grotesque_regularRg';
    src: url('polices/acherusgrotesque-regular-webfont.eot');
    src: url('polices/acherusgrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('polices/acherusgrotesque-regular-webfont.woff') format('woff'),
         url('polices/acherusgrotesque-regular-webfont.ttf') format('truetype'),
         url('polices/acherusgrotesque-regular-webfont.svg#acherus_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: red ;
    font-size:medium;
    font-family: 'acherus_grotesque_regularRg','calibri','serif';
}

.imgHeader {
    background-image: url(../Assets/backgroundaccueil.jpg);
    background-size: cover;
    background-position: center;
    height:700px;
    width:auto;
}


/* header */


form input{
    width:10%;
    border-radius: 15px;
}



/* menu de navigation */ 
.logo{
    width: 30%;
    height: 20%;
}


#menus {
    
    background-color: rgb(255, 255, 255);
    font-size:larger;
    opacity: 0.8; 
}

#menus ul {
    
    display:flex;
    justify-content:space-around;
    align-items:center;
    list-style:none;
    color:black;
    flex-wrap:wrap;
    padding: 1%;

}

#menus ul a {
    
    color:black;
    text-decoration: none;
}


nav{

    width:auto;
    height:25%;
    border-radius: 10px; 
    /* margin:1%; */
    /* position:fixed; */

}

nav a {
    --b: 0.1em;   /* the thickness of the line */
    --c: #000000; /* the color*/ 

    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .2s calc(.2s - var(--_s,0s));
  }

nav a:hover {
    --_p: 100%;
    --_s: .2s;
  }

  /* login */


.login:hover {
transition: 0.5s ease-in-out;
background: #303030;
}

.login:hover svg {
stroke-dashoffset: -480;
}

.login span {
color: rgb(0, 0, 0);
font-size: 18px;
font-weight: 100;
}

.login {
width: 80px;
height: 50px;
cursor: pointer;
background:black;
border: 1px solid #000000;
transition: 0.5s ease-in-out;
float: right;
font-size:large;
color: rgb(255, 255, 255);
border-radius: 6px;
}

/*----------------------------------------Page d'accueil site---------------------------------------------------------*/



/* article */

/* .responsive {
    display: flex;
    flex-wrap: wrap;
} */

article {
    width:60%;
    margin-left:5%;
    margin-right: 15px;
}

article div {
    background-color: white;
    margin-bottom:10px;
    padding:3%;
}

.invincible {
    max-width:40%;
    margin-left:1em;
}
.article1 {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.article, img{
    flex:1;
    max-width:80%;
    
}

.articleText {
    flex:2;
    display:column;
    
}

.articleText p {
    margin-bottom:5%;
}



/* aside */
.actu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
aside {
    text-align: center;
    color:white;
    width:30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 1%;
    padding-top:1%;

}
.aside1{
    padding: 4%;
    background-color: #164446;
    margin-bottom: 2%;
}

.nain {
    display:flex;
    width:80%;
    margin:auto;
    margin-bottom: 10px;
    

}

.button-aside {
    
    display:block;
    background-color:white;
    font-size:medium;
    color: black;
    padding: 12px 20px;
    margin:auto;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}





/* Footer */

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

